<div class="d-flex justify-content-center">
  <h1>All veterinarians</h1>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Rating</th>
      <th scope="col">Practice</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @veterinarians.each do |vet| %>
      <tr id="veterinarian-<%= vet.id %>">
        <td><p><%= vet.name %></p></td>
        <td><p><%= vet.review_rating %></p></td>
        <td><p><%= vet.office_name %></p></td>
        <td><%= link_to "Edit #{vet.name}", edit_veterinarian_path(vet) %></td>
        <td><%= button_to "Delete #{vet.name}", veterinarian_path(vet), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>