<h1>Name: <%= @application.name %></h1>
<h3>Address: <%= @application.address %></h3>
<h3>City: <%= @application.city %></h3>
<h3>State: <%= @application.state %></h3>
<h3>Zip code: <%= @application.zip_code %></h3>
<% if @application.status != "In Progress" %>
  <h3>Description: <%= @application.description %></h3>
<% end %>

<br>

<div class="d-flex justify-content-center">
  <h1>All Pets on this Application</h1>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Breed</th>
    </tr>
  </thead>
  <tbody id="application-pets">
    <% @application.pets.each do |pet| %>
      <tr id="pet-<%= pet.id %>">
        <td><%= link_to pet.name, pet_path(pet) %></td>
        <td><p><%= pet.age %> years old</p></td>
        <td><p><%= pet.breed %></p></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Status: <%= @application.status %></h3>



<% if @application.status == "In Progress" %>
  <div class="d-flex justify-content-center">
    <h1>"In Progress" Application Settings</h1>
  </div>

  <% if @application.pets.count > 0 %>
  <br>
    <div class="d-flex justify-content-center">
      <h3>Why would you be a good owner?</h3>
    </div>
    <div class="d-flex justify-content-center">
      <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |f| %>
        <%= f.label :description %>
        <%= f.text_area :description %>

        <%= f.submit %>
      <% end %>
    </div>
  <br>
  <% end %>

  <div class="d-flex justify-content-center">
    <h3>Add a Pet to this Application</h3>
  </div>

  <div class="d-flex justify-content-between">
    <%= form_with url: application_path(@application), method: :get, local: true do |f| %>
      <%= f.label :search %>
      <%= f.text_field :search %>
      <%= f.submit "Search" %>
    <% end %>
  </div>

  <table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Breed</th>
      <th scope="col">Adopt?</th>
    </tr>
  </thead>
  <tbody>
    <% @pets.each do |pet| %>
      <tr id="adoptable-pet-<%= pet.id %>">
        <td><%= link_to pet.name, pet_path(pet) %></td>
        <td><p><%= pet.age %> years old</p></td>
        <td><p><%= pet.breed %></p></td>
        <td>
          <%= form_with url: pet_applications_path, method: :create, local: true do |f| %>
            <%= f.hidden_field :pet_id, :value => pet.id %>
            <%= f.hidden_field :application_id, :value => @application.id %>
            <%= f.submit "Adopt this Pet" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>