<div class="d-flex justify-content-center">
  <h1>All Veterinary Offices</h1>
</div>

<div class="d-flex justify-content-between">
  <%= link_to "Sort by number of veterinarians", 'veterinary_offices?sort=veterinarian_count' %>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Created At</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @veterinary_offices.each do |veterinary_office| %>
      <tr id="veterinary-office-<%= veterinary_office.id %>">
        <td><%= link_to veterinary_office.name, veterinary_office_path(veterinary_office) %></td>
        <td><%= veterinary_office.created_at %></td>
        <td><%= link_to "Update #{veterinary_office.name}", edit_veterinary_office_path(veterinary_office) %></td>
        <td><%= button_to "Delete #{veterinary_office.name}", veterinary_office_path(veterinary_office), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to 'New Veterinary Office', new_veterinary_office_path %>
</div>