<p>Shelter Name: <%= @shelter_info[0].name %></p>
<p>Shelter City: <%= @shelter_info[0].city %></p>
<p>Average pet age: <%= @shelter.pet_average_age %></p>
<p>Adoptable pets: <%= @shelter.adoptable_pet_count %></p>
<p>Adopted pets: <%= @shelter.pets.with_approved_applications %></p>
